<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBidHw3Z___YlV9etwY3b28yzKuFTkZ2og</string>
	<key>GCM_SENDER_ID</key>
	<string>720236048832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skaly.gym</string>
	<key>PROJECT_ID</key>
	<string>skaly-f85ff</string>
	<key>STORAGE_BUCKET</key>
	<string>skaly-f85ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720236048832:ios:95678f250e7dfdf7841825</string>
</dict>
</plist>